In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from math import sqrt

ikeja = pd.read_csv('ikeja.csv')
ikorodu = pd.read_csv('ikorodu.csv')
surulere = pd.read_csv('surulere.csv')
yaba = pd.read_csv('yaba.csv')
ajah = pd.read_csv('ajah.csv')
gbagada = pd.read_csv('gbagada.csv')
ogba = pd.read_csv('ogba.csv')
iyanaipaja = pd.read_csv('iyanaipaja.csv')
lekki = pd.read_csv('lekki.csv')

In [2]:
ikeja['source'] = 'ikeja'
ikorodu['source'] = 'ikorodu'
surulere['source'] = 'surulere'
yaba['source'] = 'yaba'
ajah['source'] = 'ajah'
gbagada['source'] = 'gbagada'
ogba['source'] = 'ogba'
iyanaipaja['source'] = 'iyanaipaja'
lekki['source'] = 'lekki'

data = pd.concat([ikeja, ikorodu, surulere, yaba, ajah, gbagada, ogba, iyanaipaja, lekki], ignore_index=True, sort=False)

print('data shape', data.shape)

data shape (4936, 11)

In [3]:
data.head()

,Unnamed: 0,page,location,location_s,features,bed,bath,toilet,description,price,source
0,0,1,oregun ikeja lagos,oregun ikeja lagos,1 bed 10 bath 5 toilet,1.0,0,5,For Lease modern Warehouse on a property of ap...,7e+07,ikeja
1,1,1,opebi ikeja lagos,opebi ikeja lagos,bed bath 2 toilet,NaN,,2,"For Lease warehouse capacity of 4,000 sqft wit...",5.2e+06,ikeja
2,2,1,off isaac john street ikeja gra ikeja lagos,off isaac john street ikeja gra ikeja lagos,4 bed 4 bath 5 toilet,4.0,4,5,4 Bedroom terrace duplex for Lease. 3 years re...,5e+06,ikeja
3,3,1,bamishele estate off allen opebi ikeja lagos,bamishele estate off allen opebi ikeja lagos,3 bed 3 bath 4 toilet,3.0,3,4,This property is located within the heart of o...,4e+06,ikeja
4,4,1,off allen avenue allen avenue ikeja lagos,off allen avenue allen avenue ikeja lagos,3 bed 3 bath 4 toilet,3.0,3,4,3 bedroom Shared Apartment Flat / Apartment fo...,4e+06,ikeja

In [4]:
data.drop(['Unnamed: 0', 'location_s', 'page', 'features'], axis=1, inplace=True)

In [5]:
data.head()

,location,bed,bath,toilet,description,price,source
0,oregun ikeja lagos,1.0,0,5,For Lease modern Warehouse on a property of ap...,7e+07,ikeja
1,opebi ikeja lagos,NaN,,2,"For Lease warehouse capacity of 4,000 sqft wit...",5.2e+06,ikeja
2,off isaac john street ikeja gra ikeja lagos,4.0,4,5,4 Bedroom terrace duplex for Lease. 3 years re...,5e+06,ikeja
3,bamishele estate off allen opebi ikeja lagos,3.0,3,4,This property is located within the heart of o...,4e+06,ikeja
4,off allen avenue allen avenue ikeja lagos,3.0,3,4,3 bedroom Shared Apartment Flat / Apartment fo...,4e+06,ikeja

In [6]:
data.shape

(4936, 7)

In [7]:
data.isnull().sum()

location       224
bed            693
bath           224
toilet         224
description    224
price          224
source           0
dtype: int64

In [8]:
data = data.dropna()

In [9]:
data.shape

(4243, 7)

In [10]:
data.head()

,location,bed,bath,toilet,description,price,source
0,oregun ikeja lagos,1.0,0,5,For Lease modern Warehouse on a property of ap...,7e+07,ikeja
2,off isaac john street ikeja gra ikeja lagos,4.0,4,5,4 Bedroom terrace duplex for Lease. 3 years re...,5e+06,ikeja
3,bamishele estate off allen opebi ikeja lagos,3.0,3,4,This property is located within the heart of o...,4e+06,ikeja
4,off allen avenue allen avenue ikeja lagos,3.0,3,4,3 bedroom Shared Apartment Flat / Apartment fo...,4e+06,ikeja
7,"off ogunlani estate, allen, ikeja. allen avenu...",5.0,6,6,A newly renovated 5bedroomfully detached duple...,2.8e+06,ikeja

In [11]:
data.to_csv('data.csv', index=False)